# Import data

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
values = pd.read_csv('csv_files/training_set_values.csv')
labels = pd.read_csv('csv_files/training_set_labels.csv')

In [3]:
# Merge my predicors and target variable
df = pd.merge(values, labels, on = 'id')

## View data frame and columns

In [4]:
df.head()

      id  amount_tsh date_recorded        funder  gps_height     installer  longitude   latitude              wpt_name  num_private                    basin  subvillage   region  region_code  district_code        lga        ward  population public_meeting              recorded_by scheme_management                  scheme_name permit  construction_year extraction_type extraction_type_group extraction_type_class management management_group         payment payment_type water_quality quality_group      quantity quantity_group                source           source_type source_class              waterpoint_type waterpoint_type_group    status_group
0  69572      6000.0    2011-03-14         Roman        1390         Roman  34.938093  -9.856322                  none            0               Lake Nyasa    Mnyusi B   Iringa           11              5     Ludewa    Mundindi         109           True  GeoData Consultants Ltd               VWC                        Roman  False               1999         gravity               gravity               gravity        vwc       user-group    pay annually     annually          soft          good        enough         enough                spring                spring  groundwater           communal standpipe    communal standpipe      functional
1   8776         0.0    2013-03-06       Grumeti        1399       GRUMETI  34.698766  -2.147466              Zahanati            0            Lake Victoria     Nyamara     Mara           20              2  Serengeti       Natta         280            NaN  GeoData Consultants Ltd             Other                          NaN   True               2010         gravity               gravity               gravity        wug       user-group       never pay    never pay          soft          good  insufficient   insufficient  rainwater harvesting  rainwater harvesting      surface           communal standpipe    communal standpipe      functional
2  34310        25.0    2013-02-25  Lottery Club         686  World vision  37.460664  -3.821329           Kwa Mahundi            0                  Pangani     Majengo  Manyara           21              4  Simanjiro     Ngorika         250           True  GeoData Consultants Ltd               VWC  Nyumba ya mungu pipe scheme   True               2009         gravity               gravity               gravity        vwc       user-group  pay per bucket   per bucket          soft          good        enough         enough                   dam                   dam      surface  communal standpipe multiple    communal standpipe      functional
3  67743         0.0    2013-01-28        Unicef         263        UNICEF  38.486161 -11.155298  Zahanati Ya Nanyumbu            0  Ruvuma / Southern Coast  Mahakamani   Mtwara           90             63   Nanyumbu    Nanyumbu          58           True  GeoData Consultants Ltd               VWC                          NaN   True               1986     submersible           submersible           submersible        vwc       user-group       never pay    never pay          soft          good           dry            dry           machine dbh              borehole  groundwater  communal standpipe multiple    communal standpipe  non functional
4  19728         0.0    2011-07-13   Action In A           0       Artisan  31.130847  -1.825359               Shuleni            0            Lake Victoria  Kyanyamisa   Kagera           18              1    Karagwe  Nyakasimbi           0           True  GeoData Consultants Ltd               NaN                          NaN   True                  0         gravity               gravity               gravity      other            other       never pay    never pay          soft          good      seasonal       seasonal  rainwater harvesting  rainwater harvesting      surface           communal standpipe    communal standpipe      functional

In [5]:
for col in df.columns:
    print('-------------------')
    print(col, '\n')
    print(df[col].value_counts(normalize=True).head())
    print('--------------------')

-------------------
id

2047     0.000017
72310    0.000017
49805    0.000017
51852    0.000017
62091    0.000017
Name: id, dtype: float64
--------------------
-------------------
amount_tsh

0.0       0.700993
500.0     0.052222
50.0      0.041616
1000.0    0.025051
20.0      0.024630
Name: amount_tsh, dtype: float64
--------------------
-------------------
date_recorded

2011-03-15    0.009630
2011-03-17    0.009394
2013-02-03    0.009192
2011-03-14    0.008754
2011-03-16    0.008636
Name: date_recorded, dtype: float64
--------------------
-------------------
funder

Government Of Tanzania    0.162898
Danida                    0.055841
Hesawa                    0.039487
Rwssp                     0.024639
World Bank                0.024191
Name: funder, dtype: float64
--------------------
-------------------
gps_height

 0     0.344074
-15    0.001010
-16    0.000926
-13    0.000926
-20    0.000875
Name: gps_height, dtype: float64
--------------------
-------------------
installer

DWE           0.312171
Government    0.032738
RWE           0.021634
Commu         0.019015
DANIDA        0.018836
Name: installer, dtype: float64
--------------------
-------------------
longitude

0.000000     0.030505
37.540901    0.000034
33.010510    0.000034
39.093484    0.000034
32.972719    0.000034
Name: longitude, dtype: float64
--------------------
-------------------
latitude

-2.000000e-08    0.030505
-6.985842e+00    0.000034
-3.797579e+00    0.000034
-6.981884e+00    0.000034
-7.104625e+00    0.000034
Name: latitude, dtype: float64
--------------------
-------------------
wpt_name

none         0.059983
Shuleni      0.029428
Zahanati     0.013973
Msikitini    0.009007
Kanisani     0.005438
Name: wpt_name, dtype: float64
--------------------
-------------------
num_private

0    0.987256
6    0.001364
1    0.001229
5    0.000774
8    0.000774
Name: num_private, dtype: float64
--------------------
-------------------
basin

Lake Victoria      0.172525
Pangani            0.150505
Rufiji             0.134276
Internal           0.131061
Lake Tanganyika    0.108283
Name: basin, dtype: float64
--------------------
-------------------
subvillage

Madukani    0.008606
Shuleni     0.008572
Majengo     0.008504
Kati        0.006319
Mtakuja     0.004438
Name: subvillage, dtype: float64
--------------------
-------------------
region

Iringa         0.089125
Shinyanga      0.083872
Mbeya          0.078098
Kilimanjaro    0.073721
Morogoro       0.067441
Name: region, dtype: float64
--------------------
-------------------
region_code

11    0.089226
17    0.084360
12    0.078098
3     0.073721
5     0.068013
Name: region_code, dtype: float64
--------------------
-------------------
district_code

1    0.205438
2    0.188098
3    0.168316
4    0.151498
5    0.073333
Name: district_code, dtype: float64
--------------------
-------------------
lga

Njombe          0.042138
Arusha Rural    0.021077
Moshi Rural     0.021061
Bariadi         0.019815
Rungwe          0.018620
Name: lga, dtype: float64
--------------------
-------------------
ward

Igosi        0.005168
Imalinyi     0.004242
Siha Kati    0.003906
Mdandu       0.003889
Nduruma      0.003653
Name: ward, dtype: float64
--------------------
-------------------
population

0      0.359949
1      0.118266
200    0.032660
150    0.031852
250    0.028300
Name: population, dtype: float64
--------------------
-------------------
public_meeting

True     0.909838
False    0.090162
Name: public_meeting, dtype: float64
--------------------
-------------------
recorded_by

GeoData Consultants Ltd    1.0
Name: recorded_by, dtype: float64
--------------------
-------------------
scheme_management

VWC                0.662662
WUG                0.093763
Water authority    0.056787
WUA                0.051924
Water Board        0.049493
Name: scheme_management, dtype: float64
--------------------
-------------------
scheme_name

K                0.021835
None             0.020619
Borehole         0.017481
Chalinze wate    0.012967
M                0.012807
Name: scheme_name, dtype: float64
--------------------
-------------------
permit

True     0.68955
False    0.31045
Name: permit, dtype: float64
--------------------
-------------------
construction_year

0       0.348636
2010    0.044529
2008    0.043990
2009    0.042643
2000    0.035202
Name: construction_year, dtype: float64
--------------------
-------------------
extraction_type

gravity        0.450842
nira/tanira    0.137273
other          0.108249
submersible    0.080202
swn 80         0.061785
Name: extraction_type, dtype: float64
--------------------
-------------------
extraction_type_group

gravity        0.450842
nira/tanira    0.137273
other          0.108249
submersible    0.104024
swn 80         0.061785
Name: extraction_type_group, dtype: float64
--------------------
-------------------
extraction_type_class

gravity        0.450842
handpump       0.277037
other          0.108249
submersible    0.104024
motorpump      0.050286
Name: extraction_type_class, dtype: float64
--------------------
-------------------
management

vwc                 0.681936
wug                 0.109680
water board         0.049377
wua                 0.042677
private operator    0.033182
Name: management, dtype: float64
--------------------
-------------------
management_group

user-group    0.883670
commercial    0.061246
parastatal    0.029764
other         0.015875
unknown       0.009444
Name: management_group, dtype: float64
--------------------
-------------------
payment

never pay                0.426734
pay per bucket           0.151263
pay monthly              0.139731
unknown                  0.137323
pay when scheme fails    0.065892
Name: payment, dtype: float64
--------------------
-------------------
payment_type

never pay     0.426734
per bucket    0.151263
monthly       0.139731
unknown       0.137323
on failure    0.065892
Name: payment_type, dtype: float64
--------------------
-------------------
water_quality

soft        0.855522
salty       0.081751
unknown     0.031582
milky       0.013535
coloured    0.008249
Name: water_quality, dtype: float64
--------------------
-------------------
quality_group

good       0.855522
salty      0.087458
unknown    0.031582
milky      0.013535
colored    0.008249
Name: quality_group, dtype: float64
--------------------
-------------------
quantity

enough          0.558687
insufficient    0.254697
dry             0.105152
seasonal        0.068182
unknown         0.013283
Name: quantity, dtype: float64
--------------------
-------------------
quantity_group

enough          0.558687
insufficient    0.254697
dry             0.105152
seasonal        0.068182
unknown         0.013283
Name: quantity_group, dtype: float64
--------------------
-------------------
source

spring                  0.286549
shallow well            0.283232
machine dbh             0.186448
river                   0.161818
rainwater harvesting    0.038636
Name: source, dtype: float64
--------------------
-------------------
source_type

spring                  0.286549
shallow well            0.283232
borehole                0.201162
river/lake              0.174697
rainwater harvesting    0.038636
Name: source_type, dtype: float64
--------------------
-------------------
source_class

groundwater    0.770943
surface        0.224377
unknown        0.004680
Name: source_class, dtype: float64
--------------------
-------------------
waterpoint_type

communal standpipe             0.480168
hand pump                      0.294411
other                          0.107407
communal standpipe multiple    0.102744
improved spring                0.013199
Name: waterpoint_type, dtype: float64
--------------------
-------------------
waterpoint_type_group

communal standpipe    0.582912
hand pump             0.294411
other                 0.107407
improved spring       0.013199
cattle trough         0.001953
Name: waterpoint_type_group, dtype: float64
--------------------
-------------------
status_group

functional                 0.543081
non functional             0.384242
functional needs repair    0.072677
Name: status_group, dtype: float64
--------------------

In [6]:
# Look for missing data
df.isna().sum()

id                           0
amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
status_group                 0
dtype: int64

# Seperate date into year and month columns

In [7]:
df.drop(['date_recorded', 'id', ],axis=1, inplace=True)

# Fill missing data points

In [8]:
df['funder'].fillna('Government Of Tanzania', inplace=True)

In [9]:
df.installer.fillna('DWE', inplace=True)

In [10]:
df.dropna(subset=['subvillage'], inplace=True)

In [11]:

# fill missing public_meeting values with either True or False based on probability
df['public_meeting'].fillna('?', inplace=True)

pm_prob = [0.909838, 0.090162]
prob = [i/sum(pm_prob) for i in pm_prob]

def impute_value(value):
    if value == '?':
        return np.random.choice(['True', 'False'], p = prob)
    else:
        return value
    
df.public_meeting = df.public_meeting.map(lambda x: impute_value(x))

In [12]:
df.scheme_management.fillna('VWC', inplace=True)

In [13]:
df.drop('scheme_name', axis = 1,  inplace=True)

In [14]:
# fill missing permis values with either True or False based on probability
df['permit'].fillna('?', inplace=True)

permit_prob = [ 0.68955, 0.31045]
prob = [i/sum(permit_prob) for i in permit_prob]

    
df.permit = df.permit.map(lambda x: impute_value(x))

In [15]:
df.to_csv('csv_files/training_data_clean')